/* TODO: refactor */

.day-details-component {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.day-details-date {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.day-details-inner {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
    text-align: left;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}

.day-details-total-hours {
    color: black;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
    margin-bottom: 8px;
}

.day-details-entry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day-details-align-right {
    margin-left: auto;
    display: block;
}

.day-details-entry {
    margin-bottom: 8px;
    padding: 4px;
    border-left: 3px solid green;
    background-color: rgba(0, 123, 255, 0.05);
}