body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar, 
body.dark-mode .card, 
body.dark-mode .form-container {
    background-color: #1e1e1e;
    color: #ffffff;
}